---
#
# This workflow builds a Docker image and passes it to Trivy for
# vulnerability scanning, only publishing it to ghrc.io if
# the scan passes.
#
name: Build and publish a Docker image

on:
  workflow_call:
    inputs:
      REF_TO_CHECKOUT:
        required: false
        type: string
        description: reference to checkout, e.g. a tag like v1.0.1.  Defaults to the branch/tag of the current event.
      IMAGE_REFERENCES:
        required: true
        type: string
        description: "image references, e.g., ghcr.io/sage-bionetworks/rstudio-service-catalog:1.0.1"

env:
  TARFILE_NAME: image.tar

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.REF_TO_CHECKOUT }}

      - name: Static Analysis
        uses: pre-commit/action@v3.0.0

      - name: Check that build works, save for scanning, but don't push yet
        uses: docker/build-push-action@v6.4.0
        with:
          context: .
          push: false
          outputs: type=tar,dest=${{ env.TARFILE_NAME }}

      - name: Upload tarball for use by Trivy job
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.TARFILE_NAME }}
          path: ${{ env.TARFILE_NAME }}

    outputs:
      tarfile_artifact: ${{ env.TARFILE_NAME }}

    permissions:
      contents: read
      deployments: write
      packages: write

  trivy-scan:
    needs: tests
    uses: "./.github/workflows/trivy.yml"
    with:
      SOURCE_TYPE: tar
      IMAGE_NAME: image-name
      TARFILE_NAME: ${{ needs.tests.outputs.tarfile_artifact }}
      EXIT_CODE: 1
    permissions:
      contents: read
      deployments: write
      security-events: write

  push-image:
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    needs: [tests, trivy-scan]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.REF_TO_CHECKOUT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.4.0
        with:
          context: .
          push: true
          tags: ${{ inputs.IMAGE_REFERENCES }}
...
